/* Media Queries */
@media (max-width: 768px) {
    nav .nav-links {
        display: none;
    }

    #hamburger-nav .hamburger-menu {
        display: flex;
    }

    .section-container {
        flex-direction: column;
    }

    .project-item img {
        height: 150px;
    }
}
